.gradient-custom {
  /* fallback for old browsers */
  background: #0057F2;
  }


 .blog-box {
  max-width: 400px;
  margin: 0 auto;
}

 .blog-box .blog-img {
  width: 100%; /* Set a fixed width */
  height: 150px; /* Set a fixed height */
  object-fit: cover; /* Maintain image aspect ratio and cover the container */
  border-radius: 30px;
}

 .blog-box .card-body {
  padding: 10px;
}
.dish-title{
  max-height: 100px;
}
 .dish-rating {
  color: #FFD700;
}

.dish-title h3 {
  font-size: 1.2rem;
  margin-bottom: -38px;
}

.dish-title p {
  /*
  margin-top: -25px; */
  text-align: center;
  height: 50%; /* Make all paragraphs within card-body fill the available height */
  width: 100%; /* Set the width to 100% to fill the available space */
  line-height: 1.3; /* Set the desired line height (adjust as needed) */
  color: #666;
}

 .btn-orange {
  background-color: #FFA500;
  color: #fff;
  border: none;
}

 .btn-orange:hover {
  background-color: #FF8C00;
}
.clr-root{
  color: #ff8243;
}
.bg-root{
  background-color: #ff8243;
}
