<section style="background-color: #f4f5f7;">
  <div class="container my-5">
      <div class="row">
        <div class="col-lg-7">
          <div class="d-flex flex-column justify-content-center align-items-center">
          <img src="{{userData?.profileImage ? userData?.profileImage : '../../../assets/profile.jpg'}}"
          alt="Avatar" class="img-fluid my-4 rounded-circle" style="width: 200px;height: 200px;border-radius: 30px; margin-top: -50px;" />
          <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-secondary me-2" (click)="openFileInput()">Upload Image</button>
            <button class="btn btn-success" (click)="updateProfile()">Update Profile</button>
          </div>
        </div>
      </div>
        <div class="col-lg-5">
          <div class="bg-secondary rounded d-flex justify-content-center align-items-center" style="width: 400px; height: 70px;">
            <h3 class="h2 text-white" style="text-align: center;">Mohab ashraf ahmed</h3><br>
        </div>
        <ul class="list-unstyled mb-1-9 ms-3s" style="margin-top: 25px;">
            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Age:</span> 25 Years</li>
            <li class="mb-2 mb-xl-3 display-28" style="width: 400px;"><span class="display-26 text-secondary me-2 font-weight-600">Email:</span> mohabashraf63@gmail.com </li>
            <li class="mb-2 mb-xl-3 display-28"  style="width: 400px;"><span class="display-26 text-secondary me-2 font-weight-600">address:</span> Minya,Egypt</li>
            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Phone:</span> 01018812803</li>
            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">gender:</span> male</li>

        </ul>
        <ul class="social-icon-style1 list-unstyled mb-0 ps-0">
            <li><a href="#!"><i class="ti-twitter-alt"></i></a></li>
            <li><a href="#!"><i class="ti-facebook"></i></a></li>
            <li><a href="#!"><i class="ti-pinterest"></i></a></li>
            <li><a href="#!"><i class="ti-instagram"></i></a></li>
        </ul>
        </div>
      </div>
  </div>
</section>
