<section class="px-3 p-md-4 p-xl-5 container ">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6 col-xxl-5">
        <div class="card border-1 shadow-lg rounded-4">
          <div class="card-body p-1 p-md-4 p-xl-5">
            <div class="row">
              <div class="col-12">
                <div class="mb-5">
                  <h2>Sign in</h2>
                </div>
              </div>
            </div>
            <form [formGroup]="form" (submit)="loginUser()">
              <div class="row gy-3 overflow-hidden">
                <div class="col-12" *ngIf="apiError" class="alert alert-danger">
                  {{ apiError }}
                </div>
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" formControlName="email" required>
                    <label for="email" class="form-label" >Email</label>
                    <div class="mt-1" *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched" class="alert alert-danger">
                      Email is required
                    </div>
                    <div class="mt-1" *ngIf="form.get('email')?.hasError('pattern') && form.get('email')?.touched" class="alert alert-danger">
                      Email is not valid
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" id="password" value="" placeholder="Password" formControlName="password" required autocomplete="current password">
                    <label for="password" class="form-label">Password</label>
                    <div class="mt-1" *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched" class="alert alert-danger">
                      Password is required
                    </div>
                    <div class="mt-1" *ngIf="form.get('password')?.hasError('pattern') && form.get('password')?.touched" class="alert alert-danger">
                      Password is not valid
                    </div>
                  </div>
                </div>
                <!-- <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" name="remember_me" id="remember_me">
                    <label class="form-check-label text-secondary" for="remember_me">
                      Keep me logged in
                    </label>
                  </div>
                </div> -->
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-voyage-outline text-uppercase fw-bold" type="submit">Sign
                      in
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-12">
                <hr class="mt-5 mb-4 border-secondary-subtle">
                <div class="d-flex gap-2 gap-md-4 flex-md-row justify-content-md-center">
                  <p class="mb-2 pb-lg-1">Don't have an account ? <a
                    routerLink="/auth/register" style="color: #ff6600 !important;">Register here</a></p>
                  <!-- <a href="#!"  style="color: #3011BC !important;">Forgot password</a> -->
                </div>
              </div>
              <div class="col-12">
                <div class="d-grid ">
                  <img class="d-inline-block mx-auto rounded-2" src="../../../assets/Minyiawiy.png" width="100"
                       alt="logo"/>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-12">
                <p class="mt-5 mb-4">Or continue with</p>
                <div class="d-flex g-2 flex-column">
                  <a href="#!" class="btn btn-danger">
                    <i></i>
                    <span class="ms-1 text-uppercase">Sign in With Google</span>
                  </a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

