<section class="container" >
  <div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="card border-1 shadow-lg rounded-4">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <div class="row">
              <div class="col-12">
                <div class="mb-5">
                  <h2>Sign Up</h2>
                </div>
              </div>
            </div>
            <form [formGroup]="form" (submit)="register()">
              <div class="row gy-3 overflow-hidden">
                <div class="col-12" *ngIf="apiError" class="alert alert-danger">
                  {{ apiError }}
                </div>
                <div class="col-6">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="name" id="name" value="" placeholder="Name" formControlName="userName" required>
                    <label for="name" class="form-label">Name</label>
                    <div class="mt-1" *ngIf="form.get('userName')?.hasError('required') && form.get('userName')?.touched" class="alert alert-danger">
                      Name is required.
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" formControlName="email" required   autocomplete="new-email">
                    <label for="email" class="form-label" >Email</label>
                    <div class="mt-1" *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched" class="alert alert-danger">
                      Email is required.
                    </div>
                    <div class="mt-1" *ngIf="form.get('email')?.hasError('pattern') && form.get('email')?.touched" class="alert alert-danger">
                      Email is not valid
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" name="password" id="password" value="" placeholder="Password" formControlName="password" required  autocomplete="new-password">
                    <label for="password" class="form-label">Password</label>
                    <div class="mt-1" *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched" class="alert alert-danger">
                      password is required.
                    </div>
                    <div class="mt-1" *ngIf="form.get('password')?.hasError('pattern') && form.get('password')?.touched" class="alert alert-danger">
                      Password is not valid
                    </div>
                  </div>
                </div>
          <!-- ... other form fields ... -->
            <div class="col-6">
              <div class="form-floating mb-3">
                <input type="password" class="form-control" name="cPassword" id="cPassword" value="" placeholder="confirm Password" formControlName="cPassword" required  autocomplete="new-password">
                <label for="cPassword" class="form-label">confirm Password</label>
                <div class="mt-1" *ngIf="form.get('cPassword')?.hasError('required') && form.get('cPassword')?.touched" class="alert alert-danger">
                  Confirm password is required.
                </div>
                <div class="mt-1" *ngIf="form.get('cPassword')?.hasError('pattern') && form.get('cPassword')?.touched" class="alert alert-danger">
                  Password is not valid.
                </div>
                <div class="" *ngIf="form.get('password')?.value !== form.get('cPassword')?.value && form.get('cPassword')?.touched" class="alert alert-danger">
                  Passwords do not match.
                </div>
              </div>
            </div>
<!-- ... other form fields ... -->

                <div class="col-6">
                  <div class="form-floating mb-3">
                    <input type="tel" class="form-control" name="phone" id="phone" value="" placeholder="Phone" formControlName="phone" required>
                    <label for="phone" class="form-label">Phone</label>
                    <div class="mt-1" *ngIf="form.get('phone')?.hasError('required') && form.get('phone')?.touched" class="alert alert-danger">
                      phone is required.
                    </div>
                    <div class="mt-1" *ngIf="form.get('phone')?.hasError('pattern') && form.get('phone')?.touched" class="alert alert-danger">
                      phone is not valid
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" name="address" id="address" value="" placeholder="address" formControlName="address" required>
                    <label for="address" class="form-label">Address</label>
                    <div class="mt-1" *ngIf="form.get('address')?.hasError('required') && form.get('address')?.touched" class="alert alert-danger">
                      address is required.
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating mb-3">
                    <select class="form-select" name="gender" id="gender" formControlName="gender" required>
                      <option class="mb-2" value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                    <!-- <input type="text" class="form-control" name="gender" id="gender" value="" placeholder="Gender" formControlName="gender" required> -->
                    <label for="gender" class="form-label">Gender</label>
                    <div *ngIf="form.get('gender')?.hasError('required') && form.get('gender')?.touched" class="alert alert-danger">
                      gender is required.
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-floating mb-3">
                    <input type="number" class="form-control" name="age" id="age" value="" placeholder="Age" formControlName="age" required>
                    <label for="age" class="form-label">Age</label>
                    <div *ngIf="form.get('age')?.hasError('required') && form.get('age')?.touched" class="alert alert-danger">
                      Age is required.
                    </div>
                    <div class="mt-1" *ngIf="form.get('age')?.hasError('pattern') && form.get('age')?.touched" class="alert alert-danger">
                      age is not must be older than 18
                    </div>
                  </div>
                </div>
                <!-- <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" name="remember_me" id="remember_me">
                    <label class="form-check-label text-secondary" for="remember_me">
                      Keep me logged in
                    </label>
                  </div>
                </div> -->
                <div class="col-12">
                  <div class="d-flex justify-content-center align-items-center">
                    <button class="btn btn-voyage-outline text-uppercase fw-bold w-50" type="submit"
                    [disabled]="form.invalid">Sign Up
                    </button>
                  </div>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-12">
                <hr class="mt-5 mb-4 "style="color:#6666 !important;">
                <div class="d-flex gap-2 gap-md-4 flex-md-row justify-content-md-center">
                  <p class="mb-2 pb-lg-1" >Do you have an account ? <a
                    routerLink="/auth/login" style="color: #ff6600 !important;">Login here</a></p>
                  <!-- <a href="#!"  style="color: #3011BC !important;">Forgot password</a> -->
                </div>
              </div>
              <div class="col-12">
                <div class="d-grid ">
                  <img class="d-inline-block mx-auto rounded-2" src="../../../assets/Minyiawiy.png" width="100"
                       alt="logo"/>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-12">
                <p class="mt-5 mb-4">Or continue with</p>
                <div class="d-flex g-2 flex-column">
                  <a href="#!" class="btn btn-danger">
                    <i></i>
                    <span class="ms-1 text-uppercase">Sign in With Google</span>
                  </a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</section>
