<main class="flex-shrink-0 mt-5">
  <!-- Header-->
  <header class="py-2 text-dark ">
      <div class="container px-5">
          <div class="row gx-5 align-items-center justify-content-center">
              <div class="col-lg-8 col-xl-7 col-xxl-6">
                  <div class="my-5 text-center text-xl-start ">
                      <h1 class="display-5 fw-bolder  mb-2">Your Tour Guide for Minia</h1>
                      <p class="lead fw-normal-50 fs-2 mb-4">Seyaahaa.com</p>
                      <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                          <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                          <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                      </div>
                  </div>
              </div>
              <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center mt-4"><img class="w-75 img-fluid rounded-4 my-5" src="../../../assets/Minia/المنيا3.jpg" alt="..." /></div>
          </div>
      </div>
  </header>
  <!-- Features section-->
  <section class="py-5" id="features">
      <div class="container px-5 my-5">
          <div class="row gx-5">
              <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">A better way to start Your journey.</h2></div>
              <div class="col-lg-8">
                  <div class="row gx-5 row-cols-1 row-cols-md-2">
                      <div class="col mb-5 h-100">
                          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                          <h2 class="h5">Hotels</h2>
                          <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                      </div>
                      <div class="col mb-5 h-100">
                          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                          <h2 class="h5">Restaurents</h2>
                          <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                      </div>
                      <div class="col mb-5 mb-md-0 h-100">
                          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                          <h2 class="h5">Activites</h2>
                          <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                      </div>
                      <div class="col h-100">
                          <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                          <h2 class="h5">Car-Rentals</h2>
                          <p class="mb-0">Paragraph of text beneath the heading to explain the heading. Here is just a bit more text.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Testimonial section-->
  <section class="py-7 overflow-hidden" id="places">
    <div class="container bg-offcanvas-gray-right">
      <div class="row gx-2 mb-2">
        <div class="col-12 col-md-12 col-lg-4">
          <div class="bg-primary-gradient bg-offcanvas h-100">
            <div class="row g-0 justify-content-end">
              <div class="col-12">
                <div class="p-6 py-md-5 px-md-3 py-lg-8 text-light"><img class="mb-5" src="assets/img/icons/icon-location.svg" alt="..." />
                  <h2 class="mb-2 text-light">Popular places</h2>
                  <p>Enjoy the benefits of our packages to the<br class="d-none d-lg-block" />sites where our visitors have more fun. <br class="d-none d-lg-block" />Properly arranged with low costing.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card card-span h-100 text-white"><img class="img-fluid h-100 w-100" src="assets/img/gallery/agra.png" height="375" alt="..." />
            <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
              <div class="mt-auto px-4 mb-1">
                <h3 class="fs-1 fs-md-2 text-white">Agra</h3><span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
              </div>
            </div><a class="stretched-link" href="#!"></a>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card card-span h-100 text-white"><img class="img-fluid h-100 w-100" src="assets/img/gallery/kualalumpur.png" height="375" alt="..." />
            <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
              <div class="mt-auto px-4 mb-1">
                <h3 class="fs-1 fs-md-2 text-white">Kuala Lumpur</h3><span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
              </div>
            </div><a class="stretched-link" href="#!"></a>
          </div>
        </div>
      </div>
      <div class="row g-2">
        <div class="col-sm-6 col-lg-4">
          <div class="row g-2">
            <div class="col-12">
              <div class="card card-span h-100 text-white"><img class="img-fluid h-100 w-100" src="assets/img/gallery/munich.png" height="375" alt="..." />
                <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                  <div class="mt-auto px-4 mb-1">
                    <h3 class="fs-1 fs-md-2 text-white">Munich</h3><span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
                  </div>
                </div><a class="stretched-link" href="#!"></a>
              </div>
            </div>
            <div class="col-12">
              <div class="card card-span h-100 text-white"><img class="img-fluid h-100 w-100" src="assets/img/gallery/munich.png" height="375" alt="..." />
                <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                  <div class="mt-auto px-4 mb-1">
                    <h3 class="fs-1 fs-md-2 text-white">Munich</h3><span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
                  </div>
                </div><a class="stretched-link" href="#!"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="row g-2">
            <div class="col-12">
              <div class="card card-span h-100 text-white"><img class="img-fluid h-100 w-100" src="assets/img/gallery/paris.png" height="375" alt="..." />
                <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                  <div class="mt-auto px-4 mb-1">
                    <h3 class="fs-1 fs-md-2 text-white">Paris</h3><span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
                  </div>
                </div><a class="stretched-link" href="#!"></a>
              </div>
            </div>
            <div class="col-12">
              <div class="card card-span h-100 text-white"><img class="img-fluid h-100 w-100" src="assets/img/gallery/vienna.png" height="375" alt="..." />
                <div class="card-img-overlay ps-0 d-flex flex-column justify-content-between bg-voyage-gradient">
                  <div class="mt-auto px-4 mb-1">
                    <h3 class="fs-1 fs-md-2 text-white">Vienna</h3><span class="text-light fs--1 me-1"><i class="fas fa-gift"></i></span><span class="text-light me-3">10 Packages</span>
                  </div>
                </div><a class="stretched-link" href="#!"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4">
          <div class="bg-secondary-gradient h-100 d-flex align-items-center">
            <div class="text-light p-4 p-sm-6 p-lg-0 px-xxl-6">
              <p class="fs-1 px-4 mb-6">Wanna travel to the most thrilling spot on the planet? We've set a bunch of surprises for you.</p><a class="btn btn-lg text-light fs-2" href="#!" role="button">Click to view more
                <svg class="bi bi-arrow-right-circle ms-5" xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"></path>
                </svg></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Blog preview section-->
  <section class="py-5">
      <div class="container px-5 my-5">
          <div class="row gx-5 justify-content-center">
              <div class="col-lg-8 col-xl-6">
                  <div class="text-center">
                      <h2 class="fw-bolder">From our blog</h2>
                      <p class="lead fw-normal text-muted mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fugit ratione dicta mollitia. Officiis ad.</p>
                  </div>
              </div>
          </div>
          <div class="row gx-5">
              <div class="col-lg-4 mb-5">
                  <div class="card h-100 shadow border-0">
                      <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                      <div class="card-body p-4">
                          <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                          <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Blog post title</h5></a>
                          <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                          <div class="d-flex align-items-end justify-content-between">
                              <div class="d-flex align-items-center">
                                  <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                  <div class="small">
                                      <div class="fw-bold">Kelly Rowan</div>
                                      <div class="text-muted">March 12, 2023 &middot; 6 min read</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 mb-5">
                  <div class="card h-100 shadow border-0">
                      <img class="card-img-top" src="https://dummyimage.com/600x350/adb5bd/495057" alt="..." />
                      <div class="card-body p-4">
                          <div class="badge bg-primary bg-gradient rounded-pill mb-2">Media</div>
                          <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">Another blog post title</h5></a>
                          <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                          <div class="d-flex align-items-end justify-content-between">
                              <div class="d-flex align-items-center">
                                  <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                  <div class="small">
                                      <div class="fw-bold">Josiah Barclay</div>
                                      <div class="text-muted">March 23, 2023 &middot; 4 min read</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 mb-5">
                  <div class="card h-100 shadow border-0">
                      <img class="card-img-top" src="https://dummyimage.com/600x350/6c757d/343a40" alt="..." />
                      <div class="card-body p-4">
                          <div class="badge bg-primary bg-gradient rounded-pill mb-2">News</div>
                          <a class="text-decoration-none link-dark stretched-link" href="#!"><h5 class="card-title mb-3">The last blog post title is a little bit longer than the others</h5></a>
                          <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk of the card's content.</p>
                      </div>
                      <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                          <div class="d-flex align-items-end justify-content-between">
                              <div class="d-flex align-items-center">
                                  <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                  <div class="small">
                                      <div class="fw-bold">Evelyn Martinez</div>
                                      <div class="text-muted">April 2, 2023 &middot; 10 min read</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Call to action-->
          <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
              <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                  <div class="mb-4 mb-xl-0">
                      <div class="fs-3 fw-bold text-white">New products, delivered to you.</div>
                      <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
                  </div>
                  <div class="ms-xl-4">
                      <div class="input-group mb-2">
                          <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter" />
                          <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
                      </div>
                      <div class="small text-white-50">We care about privacy, and will never share your data.</div>
                  </div>
              </div>
          </aside>
      </div>
  </section>
</main>
