<section>
  <div class="container">
    <header>
      <div class="row gx-4 align-items-center justify-content-center">
        <div class="col-lg-3 col-xl-4 col-xxl-4">
          <div class="text-center text-xl-start">
            <h1 class="fs-6 fw-bolder mb-2">Your Tour Guide for Minia</h1>
            <p class="lead fw-normal-50 fs-2 mb-3 clr-root">Menyawiy.com</p>
            <div
              class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start"
            >
              <a
                class="btn btn-orange btn-lg px-4 me-sm-3 text-white"
                href="#features"
                >Get Started</a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-xxl-8 d-none d-xl-block text-center mt-4">
          <img
            class="rounded-3 my-5"
            style="width: 700px; height: 400px"
            src="../../../assets/منيا.jpg"
            alt="..."
          />
        </div>
      </div>
    </header>
    <div class="brands-sec">
      <div class="row">
        <div class="col-lg-12">
          <div class="brand-title mb-5">
            <h5 class="h5-title text-dark">Trusted by 4+ companies</h5>
          </div>
          <div class="brands-row">
            <div class="brands-box">
              <img src="../../../assets/company/افواج.png" alt="" />
            </div>
            <div class="brands-box">
              <img src="../../../assets/company/امواج.jpeg" alt="" />
            </div>
            <div class="brands-box">
              <img src="../../../assets/company/المحبة.png" alt="" />
            </div>
            <div class="brands-box">
              <img src="../../../assets/company/سكاي جولف.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="blog-sec section" id="blog">
      <div class="sec-wp">
        <div class="row">
          <div class="col-lg-12">
            <div class="brand-title mb-5">
              <h5 class="h5-title text-dark">Our Categories</h5>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="blog-box">
              <img
                class="blog-img back-img"
                src="../../../assets/hotels/بالاس.jpeg"
                alt=""
              />
              <div class="blog-text">
                <a href="#" class="h4-title ms-1 fs-1 mt-1 ">Palace Hotel</a>
                <div class="ms-2">
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Pariatur ipsa explicabo atque reprehenderit beatae!
                    Accusantium soluta consequuntur blanditiis amet ad.
                  </p>
                  <a href="#" class="sec-btn">See More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-box">
              <img
                class="blog-img back-img"
                src="../../../assets/hotels/سافوي.jpeg"
                alt=""
              />
              <div class="blog-text">
                <a href="#" class="h4-title ms-1 fs-1 mt-1">Savoy Hotel</a>
                <div class="ms-2">
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Pariatur ipsa explicabo atque reprehenderit beatae!
                    Accusantium soluta consequuntur blanditiis amet ad.
                  </p>
                  <a href="#" class="sec-btn">See More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-box">
              <img
                class="blog-img back-img"
                src="../../../assets/hotels/حورس.jpeg"
                alt=""
              />
              <div class="blog-text">
                <a href="#" class="h4-title ms-1 fs-1 mt-1">Houras Hotels</a>
                <div class="ms-2">
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Pariatur ipsa explicabo atque reprehenderit beatae!
                    Accusantium soluta consequuntur blanditiis amet ad.
                  </p>
                  <a href="#" class="sec-btn">See More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sec-wp">
        <div class="row">
          <div class="col-lg-12">
            <div class="sec-title text-center mb-5">
              <div class="mt-4">
                <h5 class="bet-sec-title text-dark">More Hotels</h5>
                <a
                routerLink="hotels"
                  class="btn rounded-pill btn-orange text-white"
                  style="width: 100px"
                >
                  <i class="fa-solid fa-arrow-right" style="color: #ffffff"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="blog-box">
              <img
                class="blog-img back-img"
                src="../../../assets/restauernt/الخليل.jpeg"
                alt=""
              />
              <div class="blog-text">
                <a href="#" class="h4-title ms-1 fs-1 mt-1">EL Khalil Hotel</a>
                <div class="ms-2">
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Pariatur ipsa explicabo atque reprehenderit beatae!
                    Accusantium soluta consequuntur blanditiis amet ad.
                  </p>
                  <a href="#" class="sec-btn">See More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-box">
              <img
                class="blog-img back-img"
                src="../../../assets/restauernt/الصمدى.jpeg"
                alt=""
              />
              <div class="blog-text">
                <a href="#" class="h4-title ms-1 fs-1 mt-1">Samady Hotel</a>
                <div class="ms-2">
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Pariatur ipsa explicabo atque reprehenderit beatae!
                    Accusantium soluta consequuntur blanditiis amet ad.
                  </p>
                  <a href="#" class="sec-btn">See More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-box">
              <img
                class="blog-img back-img"
                src="../../../assets/restauernt/مونجيني.jpeg"
                alt=""
              />
              <div class="blog-text">
                <a href="#" class="h4-title ms-1 fs-1 mt-1">Monginis </a>
                <div class="ms-2">
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Pariatur ipsa explicabo atque reprehenderit beatae!
                    Accusantium soluta consequuntur blanditiis amet ad.
                  </p>
                  <a href="#" class="sec-btn">See More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sec-wp">
        <div class="row">
          <div class="col-lg-12">
            <div class="sec-title text-center mb-5">
              <div class="mt-4">
                <h5 class="bet-sec-title text-dark">More Restaurents</h5>
                <a
                routerLink="restaurents"
                  class="btn rounded-pill btn-orange text-white"
                  style="width: 100px"
                >
                  <i class="fa-solid fa-arrow-right" style="color: #ffffff"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="blog-box">
              <img
                class="blog-img back-img"
                src="../../../assets/CarRenter/abo heta.png"
                alt=""
              />
              <div class="blog-text">
                <a href="#" class="h4-title ms-1 fs-1 mt-1">Abo Heta </a>
                <div class="ms-2">
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Pariatur ipsa explicabo atque reprehenderit beatae!
                    Accusantium soluta consequuntur blanditiis amet ad.
                  </p>
                  <a href="#" class="sec-btn">See More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-box">
              <img
                class="blog-img back-img"
                src="../../../assets/CarRenter/Minia motors.jpg"
                alt=""
              />
              <div class="blog-text">
                <a href="#" class="h4-title ms-1 fs-1 mt-1">Minia motors</a>
                <div class="ms-2">
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Pariatur ipsa explicabo atque reprehenderit beatae!
                    Accusantium soluta consequuntur blanditiis amet ad.
                  </p>
                  <a href="#" class="sec-btn">See More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="blog-box">
              <img
                class="blog-img back-img"
                src="../../../assets/CarRenter/M.jpg"
                alt=""
              />
              <div class="blog-text">
                <a href="#" class="h4-title ms-1 fs-1 mt-1">Minia Cars</a>
                <div class="ms-2">
                  <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Pariatur ipsa explicabo atque reprehenderit beatae!
                    Accusantium soluta consequuntur blanditiis amet ad.
                  </p>
                  <a href="#" class="sec-btn">See More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="sec-title text-center">
              <div class="mt-4">
                <h5 class="bet-sec-title text-dark">More Car-Rental</h5>
                <a
                routerLink="car-rental"
                  class="btn rounded-pill btn-orange text-white"
                  style="width: 100px"
                >
                  <i class="fa-solid fa-arrow-right" style="color: #ffffff"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
