<section class=" overflow-hidden" id="activities">
  <div class="container bg-offcanvas-gray-right">
    <div class="row gx-2">

      <section class="py-2">
        <div class="container px-3">
          <div class="row gx-5">
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/CarRenter/M.jpg" alt="..."/>
                <div class="card-body p-4">
                  <div class="h5 card-title mb-3">El-Minya Automative</div>
                  <p class="card-text mb-0">Your safety is with us. Rent your car safely with the most comfortable
                    payment methods.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <a href="https://maps.app.goo.gl/U4JbnFgetJ73MBt19"><img src="../../../assets/activites/index.png"
                                                                               style="width: 30px;height: 35px;margin-left: 5px;"></a><br><span
                      style="margin-top: 70px;margin-left: -43px;">Location</span>
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2"
                           style="margin-left: 100px;margin-top: 20px;">01223444112
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/CarRenter/abo heta.png" alt="..."/>
                <div class="card-body p-4">
                  <div class="h5 card-title mb-3">Abo Heta</div>
                  <p class="card-text mb-0">Our brand is a famous brand throughout the Republic because of the quality
                    of our service. #Book and wrap Minya with us.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <a href="https://maps.app.goo.gl/6URHDMBEZpBy8uP27"><img src="../../../assets/activites/index.png"
                                                                               style="width: 30px;height: 35px;margin-left: 5px;"></a><br><span
                      style="margin-top: 70px;margin-left: -43px;">Location</span>
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2"
                           style="margin-left: 120px;margin-top: 20px;">See More
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/CarRenter/demo drive.jpg" alt="..."/>
                <div class="card-body p-4">
                  <div class="h5 card-title mb-3">Demo Drive</div>
                  <p class="card-text mb-0">Enjoy the discount with the most luxurious cars, the latest models, and the
                    most skilled drivers in Minya.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <a href="https://maps.app.goo.gl/eofZ3XFdUSrfhiAe7"><img src="../../../assets/activites/index.png"
                                                                               style="width: 30px;height: 35px;margin-left: 5px;"></a><br><span
                      style="margin-top: 70px;margin-left: -43px;">Location</span>
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2"
                           style="margin-left: 120px;margin-top: 20px;">See More
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-3">
        <div class="container px-3">
          <div class="row gx-5">
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/CarRenter/alhamd.jpg" alt="..." style="height: 230px;"/>
                <div class="card-body p-4">
                  <div class="h5 card-title mb-3">Ahmed cars</div>
                  <p class="card-text mb-0">Our customers are our capital, so do not feel when dealing with us that you
                    are a tenant, but always an owner.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <a href="https://maps.app.goo.gl/u19tUBjyiRYsvBzB6"><img src="../../../assets/activites/index.png"
                                                                               style="width: 30px;height: 35px;margin-left: 5px;"></a><br><span
                      style="margin-top: 70px;margin-left: -43px;">Location</span>
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2"
                           style="margin-left: 100px;margin-top: 20px;">01095067593
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/CarRenter/Minia motors.jpg" alt="..."/>
                <div class="card-body p-4">
                  <div class="h5 card-title mb-3">Minya Motors</div>
                  <p class="card-text mb-0">If you want happiness and enjoyment in moving, you should book with us at
                    the cheapest prices.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <a href="https://maps.app.goo.gl/FMaiZdDbswrKuo957"><img src="../../../assets/activites/index.png"
                                                                               style="width: 30px;height: 35px;margin-left: 5px;"></a><br><span
                      style="margin-top: 70px;margin-left: -43px;">Location</span>
                      <div class="badge bg-primary bg-gradient rounded-pill mb-1"
                           style="margin-left: 100px;margin-top: 20px;">01000042325
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="../../../assets/hotels/نفرتيتي.jpeg" alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Neveryiyi Hotel</div></a>
                        <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
          </div>
        </div>
      </section>

      <!-- <section class="py-5">
        <div class="container px-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="../../../assets/hotels/كليوباترا.jpeg" alt="..." />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Kliobatra Hotel</div></a>
                            <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card. Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="../../../assets/hotels/عمر الخيام.jpeg" alt="..." />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Omar-Elkhayam Hotel</div></a>
                            <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="../../../assets/hotels/لوتس.jpeg" alt="..." />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Louts Hotel</div></a>
                            <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section> -->
