<section class="menu-list-row mt-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-12 text-center" *ngIf="loading">
        <i class="fas fa-spinner fa-spin fa-3x"></i>
        <h1 class="mt-3">Loading....</h1>
      </div>
      <div class="col-12 text-center" *ngIf="!loading && cars?.length == 0">
        <img src="../../../assets/nodata.png" class="w-50 rounded-circle" alt="">
      </div>
      <div *ngFor="let car of cars" class="col-lg-4">
        <div class="blog-box">
          <img class="blog-img back-img" [src]="car.image" (error)="errorHandler($event)">
          <div class="card-body text-center">
            <div class="dish-title mt-3">
              <h3 class="h3-title">{{ car.carName }}</h3>
              <p class="lead-75">email :{{ car.email }}</p>
              <p class="lead-75">Address : {{ car.address }}</p>
              <p class="lead-75">Phone :{{ car.phone }}</p>
            </div>
            <div class="dish-info"></div>
      <a [routerLink]="['/cardDetails','getCar', car._id]" class="btn btn-secondary btn-lg">See Details</a>
      <button class=" ms-2 btn btn-outline-primary btn-lg" *ngIf="authService.isLoggedIn" (click)="star(car._id)">Favourite</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



  <!-- <div class="col-lg-4">
    <div class="blog-box">
        <img class="blog-img back-img"
            src="../../../assets/activites/دير.jpg">
            <div class="card-body text-center">
              <div class="dish-rating mt-3">
                  5
                  <i class="fas fa-star"></i>
                </div>

              <div class="dish-title mt-3">
                <h3 class="h3-title">El-Minya Automative</h3>
                <p>Your safety is with us. Rent your car safely with the most comfortable payment methods.</p>
              </div>
              <div class="dish-info"></div>
              <a class="d-block" href="https://maps.app.goo.gl/U4JbnFgetJ73MBt19" target="_blank"><i class="fa-solid fa-location-dot fs-4 clr-root"></i></a>
              <a href="#" class="btn btn-orange btn-lg mt-2">See More</a>
            </div>
    </div>
</div> -->
