<section class=" overflow-hidden" id="restaurents">
  <div class="container bg-offcanvas-gray-right">
    <div class="row gx-2">
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/الخليل.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">El-khalil Restauernt</div>
                  </a>
                  <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/الصمدى.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Elsamady Restauernt</div>
                  </a>
                  <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card.
                    Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/القبطان.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Elqoptan Restauernt</div>
                  </a>
                  <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/تشيك تشاب.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">chek-chup Restauernt</div>
                  </a>
                  <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/تكية يونس.png" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Tekyet Youns Restauernt</div>
                  </a>
                  <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card.
                    Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/تيتانيك.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Titanic Restauernt</div>
                  </a>
                  <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/دومي.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Domy Restauernt</div>
                  </a>
                  <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card.
                    Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/زيكو.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Zeco Restauernt</div>
                  </a>
                  <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/سي بوت.png" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Sea boat Restauernt</div>
                  </a>
                  <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/عرابيكا.png" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Arabica Restauernt</div>
                  </a>
                  <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card.
                    Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/فيموس برجر.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Feamus Burgar Restauernt</div>
                  </a>
                  <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/كراتوس.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Kratos Restauernt</div>
                  </a>
                  <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/كريبيانو.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Kripyano Restauernt</div>
                  </a>
                  <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card.
                    Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/لا كريستا.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">La-cresta Restauernt</div>
                  </a>
                  <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/مستر تشيكس.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Mr.Chix Restauernt</div>
                  </a>
                  <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/موتشي.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Mochi Restauernt</div>
                  </a>
                  <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card.
                    Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/مونجيني.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Mongini Restauernt</div>
                  </a>
                  <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top rounded-2" src="../../../assets/restauernt/ورد الشام.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Ward Elsham Restauernt</div>
                  </a>
                  <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


  </div>
</section>
