<section class=" overflow-hidden" id="activities">
  <div class="container bg-offcanvas-gray-right">
    <div class="row gx-2">

      <section class="py-2">
        <div class="container px-3">
          <div class="row gx-5">
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/activites/دير.jpg" alt="..."/>
                <div class="card-body p-4">
                  <div class="h5 card-title mb-3">Saint Mary Coptic</div>
                  <p class="card-text mb-0">Saint Mary Coptic Orthodox Monastery, Gabal El-Tair, Samalout, El-Menya,
                    Egypt Al-Maqrizi mentioned in the book Al-Maqriziyyah Plans, Part Four, explaining the reason for
                    calling this mountain “Bird Mountain,” saying: It was called “Bird Mountain” because thousands of
                    “buqirs” birds used to gather there. It is a white-feathered bird with a long beak the color of an
                    elephant’s tooth and has fringes around its neck..</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <a href="https://maps.app.goo.gl/SuWVhP6MTPDSRjZo7"><img src="../../../assets/activites/index.png"
                                                                               style="width: 30px;height: 35px;margin-left: 5px;"></a><br><span
                      style="margin-top: 70px;margin-left: -43px;">Location</span>
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2"
                           style="margin-left: 100px;margin-top: 20px;">01216566466
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" style="height: 200px;" src="../../../assets/activites/البهنسه.jpg" alt="..."/>
                <div class="card-body p-4">
                  <div class="h5 card-title mb-3">Bahnasa</div>
                  <p class="card-text mb-0">It is located to the west of Minya Governorate. It is an ancient
                    archaeological city, in which many papyri dating back to the Greek, Roman, Coptic and Pharaonic eras
                    were found. It is nicknamed the Land of the Martyrs. It is also one of the stops of the Holy
                    Family’s journey, and represents a glorious page in the history of the Islamic conquest for what it
                    witnessed.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <a href="https://maps.app.goo.gl/toXFxPBG66yNbRuN8"><img src="../../../assets/activites/index.png"
                                                                               style="width: 30px;height: 35px;margin-left: 5px;"></a><br><span
                      style="margin-top: 70px;margin-left: -43px;">Location</span>
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2"
                           style="margin-left: 120px;margin-top: 20px;">See More
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img style="height: 200px;" class="card-img-top" src="../../../assets/activites/bany hasan.jpg"
                     alt="..."/>
                <div class="card-body p-4">
                  <div class="h5 card-title mb-3">Bani Hassan</div>
                  <p class="card-text mb-0">Beni Hassan is an archaeological area containing an ancient Egyptian
                    cemetery. It is located about 20 kilometers south of the city of Minya in the region known as Middle
                    Egypt, extending between Assiut and Memphis (Meet Rahina)..</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <a href="https://maps.app.goo.gl/aE3x1Dhkj3eJKw497"><img src="../../../assets/activites/index.png"
                                                                               style="width: 30px;height: 35px;margin-left: 5px;"></a><br><span
                      style="margin-top: 70px;margin-left: -43px;">Location</span>
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2"
                           style="margin-left: 120px;margin-top: 20px;">See More
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-3">
        <div class="container px-3">
          <div class="row gx-5">
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img style="height: 190px;" class="card-img-top" src="../../../assets/activites/tl eh3marna.jpg"
                     alt="..."/>
                <div class="card-body p-4">
                  <div class="h5 card-title mb-3">Tal EL-Amarna</div>
                  <p class="card-text mb-0">Its name was “Akhenaten,” which means “the horizon of Aten.” It is the new
                    capital established by King Akhenaten, and it is located forty-five kilometers south of the Beni
                    Hassan Tombs in Minya Governorate. The remains of the ancient capital still exist today..</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <a href="https://maps.app.goo.gl/kv9crviVS2BJpfe76"><img src="../../../assets/activites/index.png"
                                                                               style="width: 30px;height: 35px;margin-left: 5px;"></a><br><span
                      style="margin-top: 70px;margin-left: -43px;">Location</span>
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2"
                           style="margin-left: 120px;margin-top: 20px;">See More
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/activites/taha hussen.jpg" alt="..."/>
                <div class="card-body p-4">
                  <div class="h5 card-title mb-3">Taha Hussien</div>
                  <p class="card-text mb-0">A bronze statue specially made for the dean of Arabic literature and pioneer
                    of free education, the legend Taha Hussein, in a manner befitting his value and stature. The statue
                    was placed in the most vital place in Minya.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <a href="https://maps.app.goo.gl/XfrYiydCvqw4ycaN9"><img src="../../../assets/activites/index.png"
                                                                               style="width: 30px;height: 35px;margin-left: 5px;"></a><br><span
                      style="margin-top: 70px;margin-left: -43px;">Location</span>
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2"
                           style="margin-left: 120px;margin-top: 20px;">See More
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/activites/porto.jpg" alt="..."/>
                <div class="card-body p-4">
                  <div class="h5 card-title mb-3">Porto El-Minya</div>
                  <p class="card-text mb-0">It is the latest residential and entertainment project in the new city of
                    Minya in the tourist district on the Nile. It is full of events and parties, and it is an urban
                    extension of Minya, the bride of Upper Egypt, to reduce congestion..</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <a href="https://maps.app.goo.gl/1zx7Y4aMkBEiBEXVA"><img src="../../../assets/activites/index.png"
                                                                               style="width: 30px;height: 35px;margin-left: 5px;"></a><br><span
                      style="margin-top: 70px;margin-left: -43px;">Location</span>
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2"
                           style="margin-left: 120px;margin-top: 20px;">See More
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-3">
        <div class="container px-3">
          <div class="row gx-5">
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/activites/kornish.jpg" alt="..."/>
                <div class="card-body p-4">
                  <div class="h5 card-title mb-3">kornish ELnel</div>
                  <p class="card-text mb-0">It is one of the most famous places and landmarks of the governorate,
                    especially during holidays and events, as it is 7 kilometers long along the length of the city of
                    Minya, and it is a strong outlet for the nine centers of Minya, and it is considered the longest
                    corniche in the republic..</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <a href="https://maps.app.goo.gl/ZPae8EcVSmN7ZWqF7"><img src="../../../assets/activites/index.png"
                                                                               style="width: 30px;height: 35px;margin-left: 5px;"></a><br><span
                      style="margin-top: 70px;margin-left: -43px;">Location</span>
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2"
                           style="margin-left: 120px;margin-top: 20px;">See More
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" style="height: 190px;" src="../../../assets/activites/awsat.jpg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Central plateau</div>
                  </a>
                  <p class="card-text mb-0">This place is the most popular place to visit based on the beauty of the
                    view. It is high and reveals all of Minya from above. It is called the Hollywood of Egypt..</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <a href="https://maps.app.goo.gl/6pfT2AmiFcQpCAGz7"><img src="../../../assets/activites/index.png"
                                                                               style="width: 30px;height: 35px;margin-left: 5px;"></a><br><span
                      style="margin-top: 70px;margin-left: -43px;">Location</span>
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2"
                           style="margin-left: 120px;margin-top: 20px;">See More
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/activites/uptown.jpg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Up Town Resort</div>
                  </a>
                  <p class="card-text mb-0">This place is Resort that contain a lot of Cafes and Kids Area in new Minya
                    city .</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <a href="https://maps.app.goo.gl/eofZ3XFdUSrfhiAe7"><img src="../../../assets/activites/index.png"
                                                                               style="width: 30px;height: 35px;margin-left: 5px;"></a><br><span
                      style="margin-top: 70px;margin-left: -43px;">Location</span>
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2"
                           style="margin-left: 120px;margin-top: 20px;">See More
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
