<section class="menu-list-row mt-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-12 text-center" *ngIf="loading">
        <i class="fas fa-spinner fa-spin fa-3x"></i>
        <h1 class="mt-3">Loading....</h1>
      </div>
      <div class="col-12 text-center" *ngIf="!loading && hotels?.length == 0">
        <img src="../../../assets/nodata.png" class="w-50 rounded-circle" alt="">
      </div>
<!-- ... -->
<div *ngFor="let hotel of hotels" class="col-lg-4">
  <div class="blog-box">
    <img class="blog-img back-img" [src]="hotel.image" (error)="errorHandler($event)">
    <div class="card-body text-center">
      <div class="dish-title mt-3">
        <h3 class="h3-title">{{ hotel.hotelName }}</h3>
        <p class="lead-75">email :{{ hotel.email }}</p>
        <p class="lead-75">Address : {{ hotel.address }}</p>
        <p class="lead-75">Phone :{{ hotel.phone }}</p>
      </div>
      <div class="dish-info"></div>
      <a [routerLink]="['/cardDetails','getHotel', hotel._id]" class="btn btn-orange btn-lg">See Details</a>
      <!-- <button class="btn btn-sm" (click)="star(hotel._id)">Star</button> -->
    </div>
  </div>
</div>
    </div>
  </div>
</section>


<!--

<div class="dish-rating mt-3">
  {{ hotel.rating }}
  <i class="fas fa-star"></i>
</div> -->
