<section class="overflow-hidden" id="activities">
  <div class="container bg-offcanvas-gray-right">
    <div class="row gx-2">

      <section class="py-2">
        <div class="container px-3">
          <div class="row gx-5">
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/hotels/جراند اتون.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Grand Aton Hotel</div>
                  </a>
                  <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/hotels/بالاس.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Palace Hotel</div>
                  </a>
                  <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card.
                    Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/hotels/اخناتون.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Ekhnaton Hotel</div>
                  </a>
                  <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-3">
        <div class="container px-3">
          <div class="row gx-5">
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/hotels/حورس.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Hours Hotel</div>
                  </a>
                  <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/hotels/سافوي.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Savoy Hotel</div>
                  </a>
                  <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card.
                    Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/hotels/نفرتيتي.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Nevertiti Hotel</div>
                  </a>
                  <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-3">
        <div class="container px-3">
          <div class="row gx-5">
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/hotels/كليوباترا.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Kliobatra Hotel</div>
                  </a>
                  <p class="card-text mb-0">This text is a bit longer to illustrate the adaptive height of each card.
                    Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/hotels/عمر الخيام.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Omar-Elkhayam Hotel</div>
                  </a>
                  <p class="card-text mb-0">Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mb-5">
              <div class="card h-100 shadow border-0">
                <img class="card-img-top" src="../../../assets/hotels/لوتس.jpeg" alt="..."/>
                <div class="card-body p-4">
                  <a class="text-decoration-none link-dark stretched-link" href="#!">
                    <div class="h5 card-title mb-3">Louts Hotel</div>
                  </a>
                  <p class="card-text mb-0">Some more quick example text to build on the card title and make up the bulk
                    of the card's content.</p>
                </div>
                <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                  <div class="d-flex align-items-end justify-content-between">
                    <div class="d-flex align-items-center">
                      <div class="badge bg-primary bg-gradient rounded-pill mb-2">See More</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
