<section>
  <div class="container">
		<div class="card">
			<div class="container">
				<div class="wrapper row">
					<div class="preview col-md-7">
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" >
               <img
                [src]="apiData.image"
                class="img-fluid w-75 border rounded-3" style=" max-height: 400px; "
                (error)="errorHandler($event)"
                alt="no image"
              />
            </div>
						</div>
					</div>
					<div class="details col-md-4 mt-5">
						<h3 class="product-title"> {{
              apiData.hotelName ||
              apiData.carName ||
              apiData.resturantName ||
              apiData.eventName ||
              apiData.visitName
          }}
          </h3>
						<p class="product-description">Email : {{ apiData?.email }}</p>
						<p class="product-description">Address : {{ apiData?.address }}</p>
						<p *ngIf="apiData.location" class="product-description">location : {{ apiData?.location }}</p>
						<p *ngIf="apiData.phone" class="product-description">Phone : {{ apiData?.phone }}</p>
						<p *ngIf="apiData.price" class="product-description">Price : {{ apiData?.price }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
