<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-...your-sha512-hash..." crossorigin="anonymous" />
<footer class="container" style="padding: -1px 0px;" id="contact">
    <div class=" top-footer section py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer-info">
            <div class="footer-logo">
              <img src="../../../assets/Minyiawiy.png" width="100" height="80" alt="">
            </div>
           <p class="wrap"> Your tourist guide in Minya Your tourist guide in Minya</p>

<!-- <div class="social-icon">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/ehab-mohammed-1086a4173/" target="_blank" class="social-link">
          <i class="fab fa-facebook-f"></i>
          <img class="w-100 rounded-circle" src="../../../assets/sfgdf.jpg" alt="">
        </a>
      </li>
      <li>
        <a href="#" class="social-link">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="#" class="social-link">
          <i class="fab fa-github-alt"></i>
        </a>
      </li>
      <li>
        <a href="#" class="social-link">
          <i class="fab fa-youtube"></i>
        </a>
      </li>
    </ul>
  </div> -->
   </div>
        </div>
        <div class="col-lg-8">
          <div class="footer-flex-box">
            <div class="d-flex flex-column ">
              <h3 class="h3-title">Our Teams</h3>
              <div class="row mb-2">
                <div class="col-3">
                  <a href="https://www.linkedin.com/in/ehab-mohammed-1086a4173/" target="_blank">
                    <img class="rounded-circle" style="width: 50px; border: solid 3px #ff8243;" src="../../../assets/sfgdf.jpg" alt="">
                  </a>
                </div>
                <div class="col-3">
                  <a href="https://www.linkedin.com/in/mohamed-ali-47a22619a/?fbclid=IwAR37nPobDSN7Z7wDoIOTUZZdpS_MHuOtrf37ouKGN5xpc-rPbAkpa0P1REg" target="_blank">
                    <img class="rounded-circle " style="width: 50px; border: solid 3px #ff8243;" src="../../../assets/mohamedali.jpg" alt="">
                  </a>
                </div>
                <div class="col-3">
                  <a href="https://www.linkedin.com/in/ehab-mohammed-1086a4173/" target="_blank">
                    <img class="rounded-circle "style="width: 50px; border: solid 3px #ff8243;" src="../../../assets/yousry.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <a href="https://www.linkedin.com/in/mahm0ud-gamal/" target="_blank">
                    <img class="rounded-circle me-2" style="width: 50px; border: solid 3px #ff8243;" src="../../../assets/gemy.jpg" alt="">
                  </a>
                </div>
                <div class="col-3">
                  <a href="https://www.linkedin.com/in/mohab-ashraf-4023b919b/" target="_blank">
                    <img class="rounded-circle me-2" style="width: 50px; border: solid 3px #ff8243;" src="../../../assets/mohab.jpg" alt="">
                  </a>
                </div>
                <div class="col-3">
                  <a href="https://www.linkedin.com/in/alaa-ashraf-iti/" target="_blank">
                    <img class="rounded-circle me-2" style="width: 50px; border: solid 3px #ff8243;" src="../../../assets/alaa.jpg" alt="">
                  </a>
                </div>
              </div>
            </div>
            <div class="footer-menu food-nav-menu">
              <h3 class="h3-title">Links</h3>
              <ul class="list-unstyled column-2">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="restaurents">Restaurants</a></li>
                <li><a routerLink="hotels">Hotels</a></li>
                <li><a routerLink="car-rental">Car Rental</a></li>
                <li><a routerLink="actvities">Activities</a></li>
                <li><a routerLink="events">Events</a></li>
              </ul>
            </div>
            <div class="footer-menu">
              <h3 class="h3-title">Company</h3>
              <ul class="list-unstyled">
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom-footer py-2">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="copyright-text">
              <p>Copyright &copy; 2023 <span class="name">Minyiawiy.</span>All Rights Reserved.</p>
            </div>
          </div>
        </div>
    </div>
  </footer>
