<!-- <footer class="footer py-2 text-center bg-dark text-light fixed-bottom">
  <div class="d-flex justify-content-center align-items-center">
    <div class="me-5">
      <a href="https://www.linkedin.com/in/mahmoud-gamal-02589b139/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <p>Mahmoud Gamal</p>
    </div>
    <div class="me-5">
      <a href="https://www.linkedin.com/in/ehab-mohammed-1086a4173/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>

      <p>Ehab Mohammed</p>
    </div>
    <div class="me-5">
      <a
        href="https://www.linkedin.com/in/alaa-ashraf-iti?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
      <p>Alaa Ashraf</p>
    </div>
  </div>
  <h5 class="h4">© 2023 Your Website. All rights reserved.</h5>
</footer> -->
